<!DOCTYPE HTML>
<html>
	<head>
		<title>24년도 1학기 유연화 프로젝트</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static\assets\css\main.css" />
		<noscript><link rel="stylesheet" href="static\assets\css\noscript.css" /></noscript>
	</head>
	<body class="is-preload">
			<div id="wrapper">

					<header id="header">
						<div class="inner">
								<a href="/index" class="logo">
									<span class="symbol"><img src="static\images\logo.svg" alt="" /></span><span class="title">tomb theft</span>
								</a>
						</div>
					</header>

				<div id="main">
					<div class="inner">
						<h1 id="productName">Default Content</h1>
						<div class="bar">
							<span class="image main"><img id="productImage" alt="" /></span>
							<div class="sale">
								<h7 id="productName2"></h7>
								<h8 id="productDescription"></h8>
								<div class="box2"></div>
								<div class="bar2">
									<h4>금액: <h3 id="price"></h3></h4>
								</div>

								<div class="box2"></div>
								<div class="bar">
									<button><a href="#">장바구니</a></button>
									<button><a href="#">구매</a></button>
								</div>
							</div>
						</div>
						<p id="productDescription2">This is the default paragraph.</p>
					</div>
				</div>
			</div>

		<script src="static\assets\js\index.js"></script>

	</body>
</html>
